@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&family=Sacramento&display=swap');

:root {
  --primary-color:rgba(34,177,76,1) ;
  --secondary-color: rgba(34,177,76,1);
}

/*BASE STYLE*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body{
  font-family: 'Agdasima', sans-serif;
  
  color: #111;
}
h1{
  font-size: 30px;
  font-weight: 500;
}

p {
  margin: 20px 0 10px 0;
  font-size: 1.1rem;
}

section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  padding: 100px;
  margin-top: 60px;
}
section.home {
  flex-direction: row;
  margin-top: 0;

}

 /*BUTTON*/
.btn1 {
  display: inline-block;
  background: rgba(34,177,76,1);
  color: #fff;
  text-decoration: none;
  padding: 3%;
  margin: 20px 0;
  cursor: pointer;
  transition: 2s;
  border: 0;
  font-size: 3rem;
}

  /*BUTTON HOVER*/
.btn1:hover {
  transform: scale(1.4);
  transform-origin: -50px;

}

.logo {
  position: absolute;
  top: 30px;
  left: 100px;
  font-size: 3rem;
  font-weight: 700;
  z-index: 20;
  animation: LAA 5s infinite ease-in-out alternate;
  color: var(--primary-color);
}
          /*LOGO ANIMATION*/
@keyframes LAA {
  0% { transform: scale(1);}
  
  100% {transform: scale(1.1);}
}

.login {
  position: absolute;
  font-size: 1.5rem;
  left: 60%;
  top:30px;
  float: left;
  background-color: green;
  color: white;
  padding: 0 20px 0 5px;
  text-align: center;
  
}

/*TOGGLE*/
.toggle {
position: fixed;
top: 0;
right: 0;
width: 60px;
height: 70px;
background: var(--primary-color) url(/images/menu.png);
z-index: 20;
background-size: 30px;
background-repeat: no-repeat;
background-position: center;
cursor: pointer;
}



/*Home Page*/


.home-content h1 {
  font-size: 54px;
}

.home-content p {
  font-size: 27px;
}

.home-content a {
  font-size: 20px;
}

.home-content {
  position: relative;
  z-index: 11;
  max-width: 600px;
}

.home-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 110%;

}

/* FOOTER */

.main-foot {
  background-color: rgb(40, 40, 40);
  display: block;
  padding: 70px 30px 20px;
  width: 100%;
  
}

.footer-social {
  display: flex;
  justify-content: center;
}
.footer-social a {
  margin: 10px;
  padding: 15px;
  border-radius: 50%;
  background-color: white;
  color: black;
  font-size: 2em;
}

.footer-nav {
  margin: 30px 0;
}

.footer-nav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;

}
.footer-nav ul li a {
  margin: 20px;
  text-decoration: none;
  font-size: 1.7em;
  color: white;
}

.footer-bottem p {
  text-align: center;
  font-size: 1.3em;
  color: white;
}
.footer-bottem a {
  color: lightblue;
}
/*ICON HOVER*/

      /*HOVER EFFECT*/
.footer-nav ul li a:hover {
  color: rgba(34,177,76,1);
  transition: .4s;
}
.footer-social a:hover {
  background-color: rgb(40, 40, 40);
  transition: .7s;
}

.footer-social a i:hover{
  color: rgba(34,177,76,1);
  transition: .8s;

}

        /*FOOTER ICON*/

.footer-heart{text-align:center;font-family: open sans, sans-serif;}

.footer-heart a{
  border-bottom: 2px solid #fff;
  color: #a2f2fe; 
  padding-bottom: .25em; 
  text-decoration: none;}

.footer-heart a:hover{color:#fff; background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 48%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;
}

.emoji{vertical-align: middle;}



/*About Us PAGE*/

.about-us {
  padding: 60px 0;
  background-color: #f9f9f9;
}

.container1 {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-us h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.about-us h2 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-top: 30px;
  margin-bottom: 15px;
}

.about-us p {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-us ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 30px;
}

.about-us ul li {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 10px;
}

/* END OF ABOUT US PAGE */

/*LEGAL PAGE*/

.legal-section {
  padding: 60px 0;
  background-color: #f9f9f9;

}

.container-legal {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.legal-section h2 {
  font-size: 35px;
  color: var(--primary-color);
}

.legal-section p {
  font-size: 25px;
}

/*Course PAGE*/


.title-course h1 {
  padding-left: 10px;
  font-size: 45px;
} 
.title-course p {
  font-size: 20px;
}

/* .title-course p {
  padding-left: 300px;
} */

.classes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:20px ;
}

.classes .item {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5px;
}

.classes .item .action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  opacity: 0;
}

.classes .item .action a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border: 1px solid white;
  padding: 5px 15px;
}

.classes .item img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.classes .item:hover .action {
  opacity: 1;
  transition: .7s;
}


    /*CONTACT*/



.title-contact h1 {
  padding-right: 450px;
}

.title-contact p {
  padding-right:450px;
}


.contact{
  position: relative;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-form{
  position: relative;
  background: #f9f9f9;
  width: calc(100% - 400px);
  padding: 7px 40px 20px;

}

.contact-form form {
  width: 100%;
}

.contact-form .row {
  width: 100%;
  display: flex;

}


.contact-form .input50 {
  width: 50%;
  margin:0 10px ;
}
.contact-form .input100 {
  width: 100%;
  margin:0 10px ;
}

.input100 button {
  color: blue;
}


.contact-form .row input,
.contact-form .row textarea {
  position: relative;
  border: 1px soild rgba(0, 0, 0, .2);
  color: #111;
  background: transparent; /*MAKES THE INPUT BACKGROUND SAME COLOR AS BACKGROUND ITSSELF*/
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0;
  resize: none;
}

.contact-form .row textarea {
  height: 150px;
}

.contact-form .row button[type = "submit"] {
  background-color: var(--secondary-color);
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  justify-content: center;
  font-size: 1em;
  padding: 2% 0;
}

.contact-info {
  width: 350px;
  background: #f9f9f9;
  padding: 60px 40px 20px;
}

.contact-info .info-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.contact-info .info-box img {
  width: 35px;
  margin-right: 40px;
}

.contact-info .info-box .details h4 {
  color: var(--secondary-color);
}

@media(max-width: 1068px){
  .home-img {
    display: none;
  }
  .logo {
    top: 10px;
    left: 40px;
    font-size: 1.6;
  }

  section {
    padding: 100px 40px;
  }

  .nav ul li a {
    font-size: 2rem;

  }

  .services {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact {
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
    padding: 30px 30px 20px;
  }

  .contact-form .row {
    flex-direction: column;
  }

  .contact-form .input50, .contact-form .input100 {
    width: 100%;
    margin: 0;
  }

  .contact-info {
    width: 100%;
    margin-top: 20px;
    padding: 30px 30px 20px;
  }
}

.toggle.active {
  background: var(--primary-color) url(/images/close.png);
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}

/*NAVIGATION*/

.nav {
  display: none;
}
.nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav.active {
  left: 0;

}

.nav ul {
  position: relative;

}
.nav ul li {
  position: relative;
  list-style: none;
  text-align: center;
}

.nav ul li a {
  font-size: 2.2rem;
  color: #111;
  text-decoration: none;
  font-weight: 300;
}

.nav ul li a:hover{
  color: var(--primary-color);
}

.nav .social-bar {
  position: absolute;
  top: 400px;
  left: 0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.nav .trophy-icon{
  position: absolute;
  bottom: 20px;
  transform: scale(.5);

}

.nav .social-bar a {
  display: inline-block;
  transform: scale(.6);
}


/* CONTENT */

.content-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 20px;
}

.content-1 .vods{
  width: 400px;
  height: 400px;
  margin: 5px;
  margin-left: -1200px;
}

.content-1 h3 {
  text-align: center;
  margin-right: -100px;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 120px;
}

.content-1 .assigment{
margin-left: -490px;
margin-top: -50px;
text-align: center;
align-items: center;
width: auto;
}

.content-vods-list .quiz{
  margin-left: 450px; 
}

.vods ul {
list-style-type:none ;
}

.vods button {
  background-color: #f44336;
  color: #fff;
  text-align: center;
  display: inline-block;
  font-size:15px;
  padding: 7px 7px;
  transition: 1.3s;
  cursor: pointer;
  border-color: #f44336;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);

  
  
}

.vods button:hover {
transform: rotateY(360deg);
background-color: var(--primary-color);
border-color: aquamarine;
}


/* ASSIGMENT */

.assigment_title .question {
  margin-right: 1400px;
  box-sizing: border-box;
}


/* to hide the checkbox */
#ch {
display: none;
}

/* TO HIDE THE ANSWER BY DEFAULT */
.show_answer {
  display: none;
}

/* TO REVEAL THE ANSWER */
#ch:checked ~ .show_answer {
  display:block ;
}

/* TO HIDE SHOW ANSWER BUTTON */
#ch:checked ~ .answer_button label {
  display: none;
}

/* HIDE ANSWER BUTTON */
.show_answer label {
  display:inline-block; /*because i'm gonna add padding and margin on top and bottom. and its not gonna work by default*/
  cursor: pointer;
  color: #fff;
  background-color: red;
  padding:8px 15px;
  border-radius: 3px;
  margin-right: 50%;
  transition: 0.1s;
}
.show_answer label:hover {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* SHOW ANSWER BUTTON */
.answer_button label {
  display:inline-block; /*because i'm gonna add padding and margin on top and bottom. and its not gonna work by default*/
  cursor: pointer;
  color: #fff;
  background-color: var(--primary-color);
  padding:3px 13px;
  border-radius: 3px;
  margin-right: 1600px;
  margin-top: 80px;
  text-align: center;
  font-size: 17px;
  transition: 0.1s;
}

.answer_button label:hover {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.show_answer img {
  margin-top: 300px;
  margin-right: 1380px;
  float: left;

  
}




/* QUIZ */


.quiz-body {
  background: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 black;
  width: 500px;
  height: 500px;
  background-color: white;
  position: relative;
}


#quiz-question {
  font-size: 1.5rem;
  padding: 20px;
  text-align: center; 
}


.quiz-container ul {
  font-size: 1.5rem;
 margin-left: 30px;
  list-style: none;
}

.quiz-container li {
margin-bottom: 15px;
padding: 5px;
cursor: pointer;
}

#nextButton {
  background-color: #3e8e41;
  border: none;
  color: #fff;
  font-size: 1.3rem;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 7.5px;
  border-radius: 0 0 10px 10px;
}

#nextButton:hover {
  background-color: #347836 ;
  cursor: pointer;
}


/*DROPDOWN BUTTON*/
.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 55%;
    margin-top: 1.1%;
    padding: .7%;
    background-color: var(--primary-color);
    font-size: 1.3rem;
}

.dropdown-item{
    font-size: 1.3rem;
}

.btn:hover{
    background-color: var(--primary-color);
}

/*REGISTER PAGE*/
.register-body {
  background-color: #dfebdf;
}
.home-register {
  float: left;
  margin-right: 660%;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  padding-right:40% ;
}

.home-register p {
  font-size: 1.3rem;
}

.btn12 {
  width: 100%;
}

.btn12:hover {
  background-color: var(--primary-color);
}

.form-group input {
  font-size: 1.6rem;
}


/* USER PROFILE PAGE */

.avatar-ctn {
  background-color: orange;
  text-align: center;
}

.avatar {
  width: 65%;
  border-bottom: 1px soild rgba(0, 0, 0, .125);
}









