<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
										<!--WEBSITE ICON-->
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    									<!--BOOTSTRAP-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/style.css">

		<style>
			.btn {
				position: relative !important;
				margin-left: 0% !important;
				left: 170vh !important;
			}

			section {
				height: 130vh !important;
			}
		</style>

	<title>Learn Anywhere Anytime!</title>
</head>
<body>
	<!--Dropdown button-->
    <nav class = "dropdown-btn1">
        <div class="dropdown">
            {{#if user}}
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Menu</button>
              {{else}}
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Login/Register</button>
              {{/if}}
         
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {{#if user}}
              <li><a class="dropdown-item" href="/profile">Profile</a></li>
              <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                {{else}}
                <li><a class="dropdown-item" href="/register">Sign up</a></li>
              <li><a class="dropdown-item" href="/login">login</a></li>
              {{/if}}
            </ul>
    </nav>
	<header>
		<div class = "logo">Learn Anywhere Anytime</div>
		<div class = "toggle"></div>
		<div class = "nav"> 
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/courses">Courses</a></li>
			<li><a href="/forum">Discussion Board</a></li>
			<li><a href="/news">News</a></li>
			<li><a href="/aboutus">About Us</li>
			<li><a href="/contact">Contact</a></li>
		</ul>
			<a href="/maintenance" class = "trophy-icon"><img src="/images/trophy.jpg"> </a>
		</div>
	</header>

	<section class="about-us">
    <div class="container1">
      <h1>About Us</h1>
      <p>Welcome to Learn Anywhere Anytime! We are passionate students who are trying to providing high-quality education that's accessible to everyone, anytime and anywhere. Our mission is to empower learners globally by offering a diverse range of courses taught by industry experts. Whether you're looking to upgrade your skills, explore new subjects, or advance in your career, we've got you covered.</p>
      
      <h2>Our Vision</h2>
      <p>Our vision is to revolutionize the learning experience by creating an innovative platform that fosters knowledge-sharing, collaboration, and skill development. We believe in the transformative power of education and aim to make learning an engaging and enjoyable journey for all.</p>
      
      <h2>Why Choose Us?</h2>
      <p>At Learn Anywhere Anytime, we prioritize the needs of our learners. Here's why students should choose us:</p>
      <ul>
        <li>Comprehensive Course Selection: Explore a wide range of subjects and topics.</li>
        <li>Expert Instructors: Learn from industry professionals and experts in their fields.</li>
        <li>Flexible Learning: Study at your own pace and convenience.</li>
        <li>Interactive Learning: Engaging content and interactive tools for effective learning.</li>
        <li>Community Support: Connect with a vibrant community of learners and educators.</li>
      </ul>
    </div>
  </section>
  	

	<footer class = "main-foot">
		<nav class = "footer-social">
			<a href="https://facebook.com"><i class = "fa-brands fa-facebook"></i></a>
			<a href="https://x.com"><i class = "fa-brands fa-twitter"></i></a>
			<a href="https://instagram.com"><i class = "fa-brands fa-instagram"></i></a>
			<a href="https://youtube.com"><i class = "fa-brands fa-youtube"></i></a>
		</nav>
			<nav class = "footer-nav">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/news">News</a></li>
					<li><a href="/legal">Legal</a></li>
					<li><a href="/aboutus">About</a></li>
					<li><a href="/courses">Content</a></li>
					<li><a href="/team">Our Team</a></li>
				</ul>
			</nav>
			<div class="footer-bottem">
				<p class="footer-heart">
  				Copyright &copy; 2024; Made with <g-emoji class="g-emoji" alias="heart" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png">
				<img class="emoji" alt="heart" height="20" width="20" src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png"></g-emoji> by <a href="https://github.com/MMuflih-1">MMuflih</a>
				</p>
			</div>
	</footer>
	
<script src="/script.js">
    
</script>
</body>

</html>