<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    							<!--WEBSITE ICON-->
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Quiz</title>
</head>
<body>

    <header>
		<div class = "logo">Learn Anywhere Anytime</div>
		<div class = "toggle"></div>
		<div class = "nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/courses">Courses</a></li>
            <li><a href="/forum">Discussion Board</a></li>
            <li><a href="/news">News</a></li>
			<li><a href="/aboutus">About Us</li>
			<li><a href="/contact">Contact</a></li>
		</ul>
        <a href="/maintenance" class = "trophy-icon"><img src="/images/trophy.jpg"> </a>
        </div>
        <body class="quiz-body">
            
        
        <div class="quiz-container">
            <h2 id="quiz-question">
                The question 
            </h2>

            <ul>

                <li>
                    <input type="radio" class = "answer" id="option-a" name = "quiz-options">
                    <label for="option-a" id="text_option_a">Option a</label>
                </li>

                <li>
                    <input type="radio" class = "answer" id="option-b" name = "quiz-options">
                    <label for="option-b" id="text_option_b">Option b</label>
                </li>

                <li>
                    <input type="radio" class = "answer" id="option-c" name = "quiz-options">
                    <label for="option-c" id="text_option_c">Option c</label>
                </li>

                <li>
                    <input type="radio" class = "answer" id="option-d" name = "quiz-options">
                    <label for="option-d" id="text_option_d">Option d</label>
                </li>
            </ul>

            <button id="nextButton">Next</button>
        </div>

<script src="/script.js"></script>

    </body>
</body>
</html>